@model ENB.Mvc.ApartmentRentals.Models.DisplayApartmentBooking

<div>
    <h4>DisplayApartmentBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment_BuildingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartment_BuildingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking_status_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking_status_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking_start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking_start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking_end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking_end_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other_booking_details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other_booking_details)
        </dd>
    </dl>
</div>
