@model ENB.Mvc.ApartmentRentals.Models.CreateAndEditApartmentFacility
@using ENB.ApartmentRentals.Entities
@{
    ViewData["Title"] = "Create";
}

<div class="alert alert-primary" role="alert">
    <h2><strong>Create Facility/Apartment @ViewBag.Message</strong></h2><br />
    <h3><strong>Apartment N° @ViewBag.AparId</strong></h3>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-route-Apartment_BuildingId="@ViewBag.Idapbld" asp-route-ApartmentId="@ViewBag.AparId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Facilitycode" class="control-label"></label>
                        <select asp-for="Facilitycode" class="form-control" asp-items="Html.GetEnumSelectList<Ref_Apartment_facility>()"></select>
                        <span asp-validation-for="Facilitycode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Other_facility_details" class="control-label"></label>
                        <textarea asp-for="Other_facility_details" type="text" class="form-control" rows="5" autofocus></textarea>
                        <span asp-validation-for="Other_facility_details" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a asp-action="List" asp-route-Apartment_BuildingId="@ViewBag.Idapbld" asp-route-ApartmentId="@ViewBag.AparId" class="btn btn-secondary btn-block col-md-4">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
